# PostgreSQL Configuration
POSTGRES_DB=project_tracker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Production URL for CORS
PRODUCTION_URL=URL

# Frontend Configuration
VITE_FAVICON_PATH=/favicon.ico
VITE_LOGO_PATH=/logo.png
